@mixin flex($justify, $direction : row, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin vote($font-size, $icon-font-size, $top, $text-color) {
    position: relative;
    @include flex(normal, row, center);
    gap: 7px;
    color: $text-color;
    font-size: $font-size;
    i {
        position: relative;
        font-size: $icon-font-size;
        color: $star-color;
        top: $top;
    }
}