$main-bg-color: rgb(22,21,45);
$prime-purple-color: rgb(99, 102, 241);
$white-text-color: rgb(230,230,233);
$movie-card-shadow-color: rgba(62, 57, 207, 0.4);
$movie-desc-color: rgb(29,28,59);
$secondary-text-color: rgb(169, 169, 179);
$hover-color: rgba(236, 193, 4, 0.6);
$load-more-color: rgba(39, 37, 37, 0.5);
$load-more-shadow-color: rgba(50, 49, 51, 0.4);
$highlight-item-color: rgb(210, 220, 252);
$star-color: orange;
$tooltip-bg-color: gray;