@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Vesper+Libre:wght@400;700&display=swap');
@import "variables";
@import "mixins";

html,
body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 0;
}

p, h2 {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar:horizontal{
    height: 0.7rem;
  }

::-webkit-scrollbar-thumb {
    background: $prime-purple-color;
    border-radius: 10px;
}

.background-box {
    position: relative;
    min-height: 100vh;
    background: $main-bg-color;
    .movies-container {
        position: relative;
        top: 80px;
        margin: 0 auto;
        padding: 15px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        grid-gap: 30px;
        justify-content: center;
        @include size(90%, 785px);
        overflow-y: scroll;
        scroll-behavior: smooth;
        .text-message {
            margin-top: 200px;
            padding: 0 150px;
            grid-area: 1 / 1 / 2 / span 6;
            font-size: 3rem;
            color: $white-text-color;
            text-align: center;
        }
        .p-skeleton {
            @include size(240px, 360px);
        }
        .movie-card {
            position: relative;
            @include size(240px, 360px);
            margin: 0;
            box-shadow: 0 0 10px 3px rgba(62, 57, 207, 0.4);
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            overflow: hidden;
            transition: 0.5s ease;
            img {
                @include size(100%, 100%);
                transform: scale(1);
                transition: 0.5s ease;
            }
            .movie-description {
                position: absolute;
                bottom: 0;
                @include size(100%, 30%);
                @include flex(space-between, column);
                padding-bottom: 0.5rem;
                background: $movie-desc-color;
                .title {
                    padding: 0.3rem 0.8rem;
                    font-size: 1.1rem;
                    max-height: 3rem;
                    overflow: hidden;
                    color: $white-text-color;
                }
                .statistic-box {
                    @include flex(space-between, row, center);
                    padding: 0.1rem 1rem;
                    font-size: 0.8rem;
                    height: 2.1rem;
                    .vote-box {
                        @include vote(0.8rem, 0.8rem, -0.1rem, $white-text-color);
                    }
                    .genres-box {
                        width: 50%;
                        word-spacing: 2rem;
                        text-align: right;
                        color: $secondary-text-color;
                    }
                }
            }
        }
        .button-container {
            @include size(240px, 360px);
            @include flex(center, row, center);
            font-size: 2rem;
            color: $white-text-color;
            background: $load-more-color;
            box-shadow: 0 0 10px 3px $load-more-shadow-color;
            cursor: pointer;
            transition: 0.5s ease;
        }
        .movie-card:hover, .button-container:hover {
            box-shadow: 0 0 10px 3px $hover-color;
            filter: saturate(150%);
            img {
                transform: scale(1.05);
            }
        }
    }
}

.sidebar-button-container {
    padding: 1rem;
    position: absolute;
    top: 0.5rem;
    z-index: 10;
    .p-button.p-button-icon-only {
        @include size(2rem, 2rem);
    }
}

.search-container {
    p {
        color: $secondary-text-color;
        font-size: 0.8rem;
    }
    padding-bottom: 1rem;
    .form-container {
        padding: 30px;
        @include flex(normal, column);
        gap: 30px;
        .multiselect-box {
            @include flex(normal, row, center);
            gap: 15px;
            .select-container {
                width: 220px;
            }
        }
        .multi-checkbox {
            @include flex(center, column, center);
            gap: 8px;
            .p-checkbox, .p-checkbox .p-checkbox-box {
                @include size(20px, 20px);
            }
            .checkbox-value {
                font-size: 0.9rem;
            }
        }
        .multiselect, .dropdown {
            font-size: 0.8rem;
            @include size(100%, 40px);
            background: $movie-desc-color;
            input[type=text], .p-multiselect-label, .p-dropdown-label {
                color: $secondary-text-color;
            }
            input[type=text]::placeholder, .p-multiselect-label.p-placeholder, .p-dropdown-label.p-placeholder {
                color: $secondary-text-color;
            }
            .p-multiselect-clear-icon, .p-dropdown-clear-icon {
                right: 2rem;
                margin-top: -0.4rem;
                color: $secondary-text-color;
            }
            .p-multiselect-label, .p-dropdown-label {
                padding: 0.4rem;
                font-size: 0.8rem;
            }
            .p-multiselect-trigger, .p-dropdown-trigger {
                width: 1.5rem;
                color: $secondary-text-color;
            }
            .p-icon {
                @include size(0.8rem, 0.8rem);
            }
        }
        .p-button {
            margin: 0 auto;
            width: 100px;
            padding: 0.6rem 0.4rem;
        }
    }
}

.sort-container {
    padding-top: 3rem;
    padding-bottom: 0;
    border-top: 1px solid $secondary-text-color;
}

/*Tooltip icon*/
.hint-container {
    .hint-icon {
        outline: none;
    }
    svg {
        color: $secondary-text-color;
    }
}

/*Language select*/
.language-select {
    position: absolute;
    width: 80px;
    top: 1rem;
    .p-selectbutton {
        .p-button {
            padding: 4px;
            background: transparent;
            border: none;
            border-radius: 0;
            .flag-box {
                @include size(30px, 20px);
                @include flex(normal, row, center);
                filter: saturate(50%) opacity(50%) contrast(100%);
                transition: 0.5s ease;
                img {
                    @include size(100%, 100%);
                }
            }
        }
        .p-button:hover {
            .flag-box {
                filter: saturate(50%) opacity(75%) contrast(150%);
            }
        }
        .p-button:first-child {
            border-right: 2px solid $secondary-text-color;
        }
        .p-button.p-highlight {
            background: transparent;
            .flag-box {
                filter: saturate(150%) opacity(100%) contrast(100%);
            }
        }
        .p-button.p-focus, .p-button.p-highlight:hover, .p-button:not(.p-disabled):not(.p-highlight):hover, .p-button:not(.p-disabled):not(.p-highlight):hover {
            background: transparent;
            border-color: $secondary-text-color;
        }
        .p-button:focus {
            background: transparent;
            box-shadow: none;
        }
    }
}

body {
    /*Tooltip style*/
    .p-tooltip.p-tooltip-bottom {
        padding: 0;
        transform: translate(0, 10px);
        .p-tooltip-text {
            padding: 0.25rem 0.3rem 0.3rem 0.3rem;
            font-size: 0.7rem;
            background: $tooltip-bg-color;
            max-width: 400px;
        }
        .p-tooltip-arrow {
            display: none;
        }
    }
    /*Select overlay*/
    .p-dropdown-items-wrapper .p-dropdown-items {
        max-width: 250px;
        .p-dropdown-item {
            overflow: unset;
            color: $secondary-text-color;
        }
        .p-dropdown-item.p-highlight {
            background: $highlight-item-color;
        }
    }
    .multiselect-overlay, .p-component {
        font-size: 0.85rem;
    }
    .multiselect-overlay, .p-dropdown-panel {
        margin-top: 5px;
        background: $movie-desc-color;
    }
    .multiselect-overlay {
        max-width: 270px;
        overflow: hidden;
        .p-multiselect-header {
            padding: 0.4rem;
            background: $movie-desc-color;
            .p-multiselect-filter-container {
                margin: 0;
                .p-multiselect-filter {
                    background: $movie-desc-color;
                    color: $secondary-text-color;
                }
                .p-multiselect-filter::placeholder {
                    color: $secondary-text-color;
                }
                .p-inputtext {
                    padding: 0.2rem;
                }
            }
            .p-multiselect-close {
                @include size(2rem, 1.2rem);
                color: $secondary-text-color;
                .p-icon {
                    @include size(0.8rem, 0.8rem);
                }
            }
        }
        .p-multiselect-items-wrapper {
            .p-multiselect-item.p-highlight {
                background: $highlight-item-color;
            }
            .p-multiselect-item {
                padding: 0.5rem 0.75rem;
                color: $secondary-text-color;
                .actor-container {
                    @include flex(normal, row, center);
                    gap: 0.5rem;
                    .img-container {
                        border-radius: 50%;
                        overflow: hidden;
                        @include size(1.6rem, 1.6rem);
                        @include flex(center);
                        .no-photo-container {
                            @include flex(center, row, center);
                            svg {
                                @include size(1.6rem, 1.6rem);
                                color: $secondary-text-color;
                            }
                        }
                        img {
                            @include size(1.6rem, 2.2rem);
                        }
                    }
                }
            }
        }
    }

    /*Sidebar*/
    .p-sidebar {
        background: $main-bg-color;
    }
}

/*Movie Page*/
.movie-page {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center, row, center);
    .movie-page-content {
        font-family: 'Roboto', sans-serif;
        @include size(70%, 70%);
        border-radius: 10px;
        background: $load-more-color;
        backdrop-filter: blur(5px);
        @include flex(normal, column, center);
        h2 {
            font-size: 2.5rem;
            padding: 1rem 0;
            color: $movie-page-text-color;
            font-weight: 400;
        }
        .movie-statistic-box {
            @include flex(center, row, center);
            gap: 20px;
            font-size: 0.8rem;
            color: $statistic-text-color;
            .movie-vote-box {
                @include vote(0.8rem, 0.8rem, -0.05rem, $statistic-text-color);
            }
            .extra-statistic-box {
                @include flex(normal, row, center);
                gap: 7px;
                span {
                    font-size: 1.5rem;
                    line-height: 1;
                }
            }
        }
    }
}