@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Vesper+Libre:wght@400;700&display=swap');

html,
body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.movies-container {
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 20px;
    justify-content: center;
    width: 85%;
    min-height: 400px;
    .movie-card {
        position: relative;
        width: 240px;
        height: 360px;
        margin: 0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px 3px rgba(22, 22, 22, 0.2);
        font-family: 'Roboto', sans-serif;
        img {
            width: 100%;
            height: 100%;
        }
        .movie-description {
            position: absolute;
            bottom: 0;
            height: 30%;
            width: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            .title {
                padding: 0.3rem 0.8rem;
                font-size: 1.1rem;
                max-height: 3rem;
                overflow: hidden;
            }
            .statistic-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.1rem 1rem;
                font-size: 0.8rem;
                height: 2.1rem;
                .vote-box {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    i {
                        position: relative;
                        font-size: 0.8rem;
                        color: orange;
                        top: -0.1rem;
                    }
                }
                .genres-box {
                    width: 50%;
                    word-spacing: 2rem;
                    text-align: right;
                    color: rgba(39, 36, 36, 0.5);
                }
            }
        }
    }
    .button-container {
        width: 240px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.sidebar-button-container {
    padding: 1rem;
    position: absolute;
    .p-button.p-button-icon-only {
        height: 2rem;
        width: 2rem;
    }
}

.search-container {
    height: 150px;
    h2 {
        text-align: center;
    }
    .form-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .multiselect-box {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .multi-checkbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .p-checkbox, .p-checkbox .p-checkbox-box {
                width: 20px;
                height: 20px;
            }
            .checkbox-value {
                font-size: 0.9rem;
            }
        }
        .multiselect, .dropdown {
            width: 200px;
            height: 40px;
            font-size: 0.8rem;
            .p-multiselect-clear-icon, .p-dropdown-clear-icon {
                right: 2rem;
                margin-top: -0.4rem;
            }
            .p-multiselect-label, .p-dropdown-label {
                padding: 0.4rem;
                font-size: 0.8rem;
            }
            .p-multiselect-trigger, .p-dropdown-trigger {
                width: 1.5rem;
            }
            .p-icon {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
        .dropdown {
            width: 150px;
        }
        #title-search-dropdown {
            width: 250px;
        }
        .p-button {
            margin: 0 auto;
            width: 100px;
            padding: 0.6rem 0.4rem;
        }
    }
}

/*Tooltip icon*/
.hint-container {
    .hint-icon {
        outline: none;
    }
    svg {
        color: gray;
    }
}

body {
    /*Tooltip style*/
    .p-tooltip.p-tooltip-right {
        padding: 0;
        transform: translate(-40px, 25px);
        .p-tooltip-text {
            padding: 0.25rem 0.3rem 0.3rem 0.3rem;
            font-size: 0.7rem;
            background: gray;
        }
        .p-tooltip-arrow {
            display: none;
        }
    }
    .multiselect-overlay, .p-component {
        font-size: 0.85rem;
    }
    .multiselect-overlay {
        .p-multiselect-header {
            padding: 0.4rem;
            .p-multiselect-filter-container {
                margin: 0;
                .p-inputtext {
                    padding: 0.2rem;
                }
            }
            .p-multiselect-close {
                width: 2rem;
                height: 1.2rem;
                .p-icon {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
        .p-multiselect-items-wrapper {
            .p-multiselect-item {
                padding: 0.5rem 0.75rem;
                .actor-container {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    .img-container {
                        border-radius: 50%;
                        overflow: hidden;
                        height: 1.6rem;
                        width: 1.6rem;
                        display: flex;
                        justify-content: center;
                        .no-photo-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                height: 1.6rem;
                                width: 1.6rem;
                                color: gray;
                            }
                        }
                        img {
                            height: 2.2rem;
                            width: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}