@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Vesper+Libre:wght@400;700&display=swap');

html,
body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 0;
  background: rgb(22,21,45);
}

p {
    padding: 0;
    margin: 0;
}

#root {
    padding-top: 80px;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar:horizontal{
    height: 0.7rem;
  }

::-webkit-scrollbar-thumb {
    background: #6366F1;
    border-radius: 10px;
}

.movies-container {
    margin: 0 auto;
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 30px;
    justify-content: center;
    width: 90%;
    height: 785px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    .p-skeleton {
        width: 240px;
        height: 360px;
    }
    .movie-card {
        position: relative;
        width: 240px;
        height: 360px;
        margin: 0;
        box-shadow: 0 0 10px 3px rgba(62, 57, 207, 0.4);
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s ease;
        img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: 0.5s ease;
        }
        .movie-description {
            position: absolute;
            bottom: 0;
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            background: rgb(29,28,59);
            .title {
                padding: 0.3rem 0.8rem;
                font-size: 1.1rem;
                max-height: 3rem;
                overflow: hidden;
                color: rgb(230,230,233);
            }
            .statistic-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.1rem 1rem;
                font-size: 0.8rem;
                height: 2.1rem;
                .vote-box {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    color: rgb(230,230,233);
                    i {
                        position: relative;
                        font-size: 0.8rem;
                        color: orange;
                        top: -0.1rem;
                    }
                }
                .genres-box {
                    width: 50%;
                    word-spacing: 2rem;
                    text-align: right;
                    color: rgb(169, 169, 179);
                }
            }
        }
    }
    .movie-card:hover {
        box-shadow: 0 0 10px 3px rgba(236, 193, 4, 0.6);
        filter: saturate(150%);
        img {
            transform: scale(1.05);
        }
    }
    .button-container {
        width: 240px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.sidebar-button-container {
    padding: 1rem;
    position: absolute;
    top: 0.5rem;
    .p-button.p-button-icon-only {
        height: 2rem;
        width: 2rem;
    }
}

.search-container {
    p {
        color: rgb(169, 169, 179);
        font-size: 0.8rem;
    }
    padding-bottom: 1rem;
    .form-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .multiselect-box {
            display: flex;
            align-items: center;
            gap: 15px;
            .select-container {
                width: 220px;
            }
        }
        .multi-checkbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .p-checkbox, .p-checkbox .p-checkbox-box {
                width: 20px;
                height: 20px;
            }
            .checkbox-value {
                font-size: 0.9rem;
            }
        }
        .multiselect, .dropdown {
            height: 40px;
            font-size: 0.8rem;
            width: 100%;
            background: rgb(29,28,59);
            input[type=text], .p-multiselect-label, .p-dropdown-label {
                color: rgb(169, 169, 179);
            }
            input[type=text]::placeholder, .p-multiselect-label.p-placeholder, .p-dropdown-label.p-placeholder {
                color: rgb(169, 169, 179);
            }
            .p-multiselect-clear-icon, .p-dropdown-clear-icon {
                right: 2rem;
                margin-top: -0.4rem;
                color: rgb(169, 169, 179);
            }
            .p-multiselect-label, .p-dropdown-label {
                padding: 0.4rem;
                font-size: 0.8rem;
            }
            .p-multiselect-trigger, .p-dropdown-trigger {
                width: 1.5rem;
                color: rgb(169, 169, 179);
            }
            .p-icon {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
        .p-button {
            margin: 0 auto;
            width: 100px;
            padding: 0.6rem 0.4rem;
        }
    }
}

.sort-container {
    padding-top: 3rem;
    padding-bottom: 0;
    border-top: 1px solid rgb(169, 169, 179);
}

/*Tooltip icon*/
.hint-container {
    .hint-icon {
        outline: none;
    }
    svg {
        color: rgb(169, 169, 179);
    }
}

body {
    /*Tooltip style*/
    .p-tooltip.p-tooltip-right {
        padding: 0;
        transform: translate(-40px, 25px);
        .p-tooltip-text {
            padding: 0.25rem 0.3rem 0.3rem 0.3rem;
            font-size: 0.7rem;
            background: gray;
        }
        .p-tooltip-arrow {
            display: none;
        }
    }
    /*Select overlay*/
    .p-dropdown-items-wrapper .p-dropdown-items {
        max-width: 250px;
        .p-dropdown-item {
            overflow: unset;
            color: rgb(169, 169, 179);
        }
        .p-dropdown-item.p-highlight {
            background: rgb(210, 220, 252);
        }
    }
    .multiselect-overlay, .p-component {
        font-size: 0.85rem;
    }
    .multiselect-overlay, .p-dropdown-panel {
        margin-top: 5px;
        background: rgb(29,28,59);
    }
    .multiselect-overlay {
        max-width: 270px;
        overflow: hidden;
        .p-multiselect-header {
            padding: 0.4rem;
            background: rgb(29,28,59);
            .p-multiselect-filter-container {
                margin: 0;
                .p-multiselect-filter {
                    background: rgb(29,28,59);
                    color: rgb(169, 169, 179);
                }
                .p-multiselect-filter::placeholder {
                    color: rgb(169, 169, 179);
                }
                .p-inputtext {
                    padding: 0.2rem;
                }
            }
            .p-multiselect-close {
                width: 2rem;
                height: 1.2rem;
                color: rgb(169, 169, 179);
                .p-icon {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
        .p-multiselect-items-wrapper {
            .p-multiselect-item.p-highlight {
                background: rgb(210, 220, 252);
            }
            .p-multiselect-item {
                padding: 0.5rem 0.75rem;
                color: rgb(169, 169, 179);
                .actor-container {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    .img-container {
                        border-radius: 50%;
                        overflow: hidden;
                        height: 1.6rem;
                        width: 1.6rem;
                        display: flex;
                        justify-content: center;
                        .no-photo-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                height: 1.6rem;
                                width: 1.6rem;
                                color: gray;
                            }
                        }
                        img {
                            height: 2.2rem;
                            width: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    /*Sidebar*/
    .p-sidebar {
        background: rgb(22,21,45);
    }
}