html,
body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.movies-container {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    min-height: 400px;
    .movie-card {
        width: 200px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .button-container {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.search-container {
    height: 300px;
    h2 {
        text-align: center;
    }
    .form-container {
        padding: 30px;
        display: flex;
        gap: 25px;
        justify-content: flex-end;
        align-items: flex-end;
        .multiselect {
            width: 200px;
            font-size: 0.8rem;
            .p-multiselect-label {
                padding: 0.4rem;
            }
            .p-multiselect-trigger {
                width: 1.5rem;
            }
            .p-icon {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
    }
}

body {
    .multiselect-overlay, .p-component {
        font-size: 0.85rem;
    }
    .multiselect-overlay {
        .p-multiselect-header {
            padding: 0.4rem;
            .p-multiselect-filter-container {
                margin: 0;
                .p-inputtext {
                    padding: 0.2rem;
                }
            }
            .p-multiselect-close {
                width: 2rem;
                height: 1.2rem;
                .p-icon {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
        .p-multiselect-items-wrapper {
            .p-multiselect-item {
                padding: 0.5rem 0.75rem;
                .actor-container {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    .img-container {
                        border-radius: 50%;
                        overflow: hidden;
                        height: 1.6rem;
                        width: 1.6rem;
                        display: flex;
                        justify-content: center;
                        .no-photo-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                height: 1.6rem;
                                width: 1.6rem;
                                color: gray;
                            }
                        }
                        img {
                            height: 2.2rem;
                            width: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}