html,
body {
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.movies-container {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    min-height: 400px;
    .movie-card {
        width: 200px;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .button-container {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.search-container {
    height: 300px;
    h2 {
        text-align: center;
    }
    .form-container {
        padding: 30px;
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
        .multiselect-box {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .multi-checkbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .p-checkbox, .p-checkbox .p-checkbox-box {
                width: 20px;
                height: 20px;
            }
            .checkbox-value {
                font-size: 0.9rem;
            }
        }
        .multiselect, .dropdown {
            width: 200px;
            height: 40px;
            font-size: 0.8rem;
            .p-multiselect-clear-icon, .p-dropdown-clear-icon {
                right: 2rem;
                margin-top: -0.4rem;
            }
            .p-multiselect-label, .p-dropdown-label {
                padding: 0.4rem;
                font-size: 0.8rem;
            }
            .p-multiselect-trigger, .p-dropdown-trigger {
                width: 1.5rem;
            }
            .p-icon {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
        .dropdown {
            width: 150px;
        }
        #title-search-dropdown {
            width: 250px;
        }
    }
}

/*Tooltip icon*/
.hint-container {
    .hint-icon {
        outline: none;
    }
    svg {
        color: gray;
    }
}

body {
    /*Tooltip style*/
    .p-tooltip.p-tooltip-right {
        padding: 0;
        transform: translate(-40px, 25px);
        .p-tooltip-text {
            padding: 0.25rem 0.3rem 0.3rem 0.3rem;
            font-size: 0.7rem;
            background: gray;
        }
        .p-tooltip-arrow {
            display: none;
        }
    }
    .multiselect-overlay, .p-component {
        font-size: 0.85rem;
    }
    .multiselect-overlay {
        .p-multiselect-header {
            padding: 0.4rem;
            .p-multiselect-filter-container {
                margin: 0;
                .p-inputtext {
                    padding: 0.2rem;
                }
            }
            .p-multiselect-close {
                width: 2rem;
                height: 1.2rem;
                .p-icon {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
        }
        .p-multiselect-items-wrapper {
            .p-multiselect-item {
                padding: 0.5rem 0.75rem;
                .actor-container {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    .img-container {
                        border-radius: 50%;
                        overflow: hidden;
                        height: 1.6rem;
                        width: 1.6rem;
                        display: flex;
                        justify-content: center;
                        .no-photo-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                height: 1.6rem;
                                width: 1.6rem;
                                color: gray;
                            }
                        }
                        img {
                            height: 2.2rem;
                            width: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}